
@{
    ViewBag.Title = "DatPhongThanhCong";
    Layout = "~/Views/Shared/_LayoutPageChiTiet.cshtml";
}
<div style="padding-top:80px">
    <div class="container">
        <div class="booking-success mt-5" style="text-align:center">
            <h1>Đặt phòng thành công</h1>
            <p>Phòng của bạn đã được đặt thành công.</p>
            <p>Cảm ơn bạn đã sử dụng phòng!!</p>
            <a href="/home/index">Trở về trang chủ</a>
        </div>
    </div>
</div>

