
@{
    ViewBag.Title = "Moderna - Đặt phòng thành công";
    Layout = "~/Views/Shared/_LayoutPageChiTiet.cshtml";
}
<div style="padding-top:120px" class="mb-5">
    <div class="container">
        <div class="booking-success mt-5" style="text-align:center">
            <img class="mb-3" style="width:5%" src="~/Image/Icon/tick.png" />
            <h1 class="text-uppercase">Đặt phòng thành công</h1>
            <p class="text-uppercase">Phòng của bạn đã được đặt thành công.</p>
            <a class="text-uppercase" style="font-size:18px" href="/home/index">Trở về trang chủ</a>
        </div>
    </div>
</div>

