
@{
    ViewBag.Title = "DatPhongThanhCong";
    Layout = "~/Views/Shared/_LayoutPageChiTiet.cshtml";
}

<div class="container">
    <div class="booking-success" style="text-align:center">
        <h1>Booking Successful!</h1>
        <p>Your room has been successfully booked.</p>
        <p>Thank you for choosing our service!</p>
        <a href="/home/index">Back to Homepage</a>
    </div>
</div>

