@model  List<WebQuanLyResort.Models.phong>
@{
    ViewBag.Title = "Moderna - Trang chủ";
}
@{ 
    ViewBag.index = 1;
}
<div class="row row-cols-2">
    @foreach (var item in Model)
    {
        if (ViewBag.index < 5)
        {
            if (item.trang_thai == "Còn trống")
            {
                <div class="col mt-2 mb-3 p-4 " style="box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14); border-radius: 10px">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/Image/HinhAnh/@item.HinhAnh.Trim()" class="img-fluid" alt="Phòng Phương Nam Suite">
                        </div>
                        <div class="col-md-6">

                            <h2 class="text-primary">@item.loaiphong.ten_loai</h2>
                            <p style="color: #ff0000; font-size:22px">Giá: @item.loaiphong.gia.ToString("C")</p>
                            <p style="height: 120px">@item.MoTa</p>
                            <a href="/phong/index?id=@item.id_phong" class="btn btn-info text-white">ĐẶT TRƯỚC</a>
                            <a href="/phong/index?id=@item.id_phong" class="btn btn-outline-danger">XEM THÊM</a>
                        </div>
                    </div>
                </div>
                ViewBag.index += 1;
            }
        }
    }
</div>

<div class="row p-3">
    <div class="col-4">
        <hr />
    </div>
    <div class="col-4 " style="text-align: center">
        <a href="/home/tatcaphong" class="text-decoration-none text-gray" style="font-size: 25px">Xem tất cả các loại phòng</a>
    </div>
    <div class="col-4">
        <hr />
    </div>
</div>




